
        <div class="f-app f:content">
{{ 'foxify-header.css' | asset_url | stylesheet_tag }}
{{ 'foxify-section-header.css' | asset_url | stylesheet_tag }}{{ 'foxify-component-drawer.css' | asset_url | stylesheet_tag }}<script src="{{ 'foxify-header.js' | asset_url }}" defer=""></script><f-sticky-header class="f:header__wrapper" data-header-sticky="true" data-header-transparent="false"><header id="f-171454962359Mgp" class="f:sections f:header f-171454962359Mgp f:section--no-margin f:header--divider "><div class="f:container"><div class="f:header__inner f:header__inner-middle f:header__inner-mobile-left"><div class="f:nav-mobile f:flex lg:f:hidden"><f-drawer-opener class="f:mobile-nav-toggle" data-drawer="#FDrawer-MobileNav"><button class="f:btn f:btn--plain f:btn--icon"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" fill="none" viewBox="0 0 18 16"><path d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z" fill="currentColor"></path></svg></button></f-drawer-opener></div></div></div></header></f-sticky-header>

</div>
        {% schema %}
        {
            "name": "Foxify header",
            "class": "foxify-header f-app",
            "settings": [
                {
                    "type": "header",
                    "content": "Customize section",
                    "info": "Go to [Foxify app](https://app.foxify.io) to edit this section."
                }
            ],
            "locales": {
  "en": {
    "f-1714549623jljmL-text_html": "Information",
    "f-1714549623P44eJ-text_html": "Quick links",
    "f-1714549623LTuFv-text_html": "Subscribe to our emails",
    "f-1714549623IBheX-text_html": "<p>You deserve to feel good. Subscribe to our newsletter.</p>",
    "f-17145496231Fz4Y-email_placeholder_html": "Enter your email",
    "f-1714549623xhzPy-copyright_html": "&copy; 2023, Foxify Powered by FoxEcom"
  }
}
        }
        {% endschema %}
    