

.sf-logo-mobile{
  width:120px
}
.shop-rating a svg{
  display:inline-block;
  
}
.shop-rating-text{
  display:block!important;
}

.so-payment-methods{
  display: flex;
    margin: auto;
    width: fit-content;
    margin-top: 10px;
      padding-bottom: 0px !important; 
    margin-bottom: 0px !important; 
}
@media only screen and (min-width: 1024px) {
  .sf-header__mobile{
  display:none!important;
}
}
