
.f-app .f-1668495030x6IUy {background-color: #ffffff; color: #222222; font-weight: 400; line-height: 10px; font-size: 1.05rem; font-family: Anaheim; text-align: center; }
.f-app .f-1668696782LhVr6 {text-align: center; }