
.f-app .f-1668495030RRJwZ {font-weight: 400; }
.f-app .f-16685067194BK7k {gap: 30px; }
.f-app .f-1668506719UN4Sw {font-size: 20px; }
.f-app .f-1668506719vbaQk {font-size: 20px; }
.f-app .f-1668506719nHCEI {font-size: 20px; }
.f-app .f-1668506719ssjqF {margin-bottom: 24px;  }