so-slider-component {
  --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
  position: relative;
  display: block;
}

so-slider-component.so-slider-component-full-width {
  --desktop-margin-left-first-item: 1.5rem;
}

@media screen and (max-width: 749px) {
  so-slider-component.page-width {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 749px) and (max-width: 990px) {
  so-slider-component.page-width {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 989px) {
  .no-js so-slider-component .so-slider {
    padding-bottom: 3rem;
  }
}

.so-slider__slide {
  --focus-outline-padding: 0.5rem;
  --shadow-padding-top: calc(var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius));
  --shadow-padding-bottom: calc(var(--shadow-vertical-offset) + var(--shadow-blur-radius));
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 749px) {
  .so-slider.so-slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1.5rem;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  .so-slider.so-slider--mobile .so-slider__slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .so-slider.so-slider--mobile.contains-card--standard .so-slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .so-slider.so-slider--mobile.contains-content-container .so-slider__slide {
    --focus-outline-padding: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .so-slider.so-slider--tablet-up {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .so-slider.so-slider--tablet-up .so-slider__slide {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 989px) {
  .so-slider.so-slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1.5rem;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  .so-slider.so-slider--tablet .so-slider__slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .so-slider.so-slider--tablet.contains-card--standard .so-slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .so-slider.so-slider--tablet.contains-content-container .so-slider__slide {
    --focus-outline-padding: 0rem;
  }
}

.so-slider--everywhere {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

.so-slider.so-slider--everywhere .so-slider__slide {
  margin-bottom: 0;
  scroll-snap-align: center;
}

@media screen and (min-width: 990px) {
  .so-slider-component-desktop.page-width {
    max-width: none;
  }

  .so-slider--desktop {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    scroll-padding-left: var(--desktop-margin-left-first-item);
  }

  .so-slider.so-slider--desktop .so-slider__slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .so-slider--desktop .so-slider__slide:first-child {
    margin-left: var(--desktop-margin-left-first-item);
    scroll-margin-left: var(--desktop-margin-left-first-item);
  }

  .so-slider.so-slider--desktop .so-slider__slide:last-child {
    margin-right: 5rem;
  }

  .so-slider-component-full-width .so-slider--desktop {
    scroll-padding-left: 1.5rem;
  }

  .so-slider-component-full-width .so-slider--desktop .so-slider__slide:first-child {
    margin-left: 1.5rem;
    scroll-margin-left: 1.5rem;
  }

  .so-slider-component-full-width .so-slider--desktop .so-slider__slide:last-child {
    margin-right: 1.5rem;
  }

  .so-slider--desktop.grid--5-col-desktop .grid__item {
    width: calc( (100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .so-slider--desktop.grid--4-col-desktop .grid__item {
    width: calc( (100% - var(--desktop-margin-left-first-item)) / 4 - var(--grid-desktop-horizontal-spacing) * 3);
  }

  .so-slider--desktop.grid--3-col-desktop .grid__item {
    width: calc( (100% - var(--desktop-margin-left-first-item)) / 3 - var(--grid-desktop-horizontal-spacing) * 4);
  }

  .so-slider--desktop.grid--2-col-desktop .grid__item {
    width: calc( (100% - var(--desktop-margin-left-first-item)) / 2 - var(--grid-desktop-horizontal-spacing) * 5);
  }

  .so-slider--desktop.grid--1-col-desktop .grid__item {
    width: calc( (100% - var(--desktop-margin-left-first-item)) - var(--grid-desktop-horizontal-spacing) * 9);
  }

  .so-slider.so-slider--desktop.contains-card--standard .so-slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .so-slider.so-slider--desktop.contains-content-container .so-slider__slide {
    --focus-outline-padding: 0rem;
  }
}

@media (prefers-reduced-motion) {
  .so-slider {
    scroll-behavior: auto;
  }
}

/* Scrollbar */

.so-slider {
  scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.so-slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .so-slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .so-slider::-webkit-scrollbar {
  display: initial;
}

.so-slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  border-radius: 0.4rem;
  border: 0;
}

.so-slider::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.04);
  border-radius: 0.4rem;
}

.so-slider-counter {
  display: flex;
  justify-content: center;
  min-width: 4.4rem;
}

@media screen and (min-width: 750px) {
  .so-slider-counter--dots {
    margin: 0 1.2rem;
  }
}

.so-slider-counter__link {
  padding: 1rem;
}

@media screen and (max-width: 749px) {
  .so-slider-counter__link {
    padding: 0.7rem;
  }
}

.so-slider-counter__link--dots .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(var(--color-foreground), 0.5);
  padding: 0;
  display: block;
}

.so-slider-counter__link--active.so-slider-counter__link--dots .dot {
  background-color: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .so-slider-counter__link--active.so-slider-counter__link--dots .dot {
    background-color: CanvasText;
  }
}

.so-slider-counter__link--dots:not(.so-slider-counter__link--active):hover .dot {
  border-color: rgb(var(--color-foreground));
}

.so-slider-counter__link--dots .dot,
.so-slider-counter__link--numbers {
  transition: transform 0.2s ease-in-out;
}

.so-slider-counter__link--active.so-slider-counter__link--numbers,
.so-slider-counter__link--dots:not(.so-slider-counter__link--active):hover .dot,
.so-slider-counter__link--numbers:hover {
  transform: scale(1.1);
}

.so-slider-counter__link--numbers {
  color: rgba(var(--color-foreground), 0.5);
  text-decoration: none;
}

.so-slider-counter__link--numbers:hover {
  color: rgb(var(--color-foreground));
}

.so-slider-counter__link--active.so-slider-counter__link--numbers {
  text-decoration: underline;
  color: rgb(var(--color-foreground));
}

.so-slider-buttons {
  display: none;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .so-slider:not(.so-slider--everywhere):not(.so-slider--desktop) + .so-slider-buttons {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .so-slider--desktop:not(.so-slider--tablet) + .so-slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .so-slider--mobile + .so-slider-buttons {
    display: none;
  }
}

.so-slider-button {
  color: rgba(var(--color-foreground), 0.75);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.so-slider-button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

.so-slider-button .icon {
  height: 0.6rem;
}

.so-slider-button[disabled] .icon {
  color: rgba(var(--color-foreground), 0.3);
  cursor: not-allowed;
}

.so-slider-button--next .icon {
  transform: rotate(-90deg);
}

.so-slider-button--prev .icon {
  transform: rotate(90deg);
}

.so-slider-button--next:not([disabled]):hover .icon {
  transform: rotate(-90deg) scale(1.1);
}

.so-slider-button--prev:not([disabled]):hover .icon {
  transform: rotate(90deg) scale(1.1);
}
