.trustpilot-review {
    margin-bottom: 48px;
}

@media screen and (max-width: 749px) {
    .trustpilot-review {
        text-align: center;
    }
}

.trustpilot-review .trustpilot-review__title {
    font-size: 20px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.trustpilot-review .trustpilot-review__author {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #910ec0;
}
